@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Welcome</h1>
    <h4>ASP.NET core mvc application with following feature</h4>
    <ul>
        <li>code first approach</li>
        <li>login/registration with Identity Framework</li>
        <li>basic crud opeartion only for autherize user</li>
    </ul>
    <h4>Future scope</h4>
    <p>* implementation Autherization with Roles</p>
    <p>custome error page</p>
    <p>Better UI</p>
</div>

@section Scripts {
    <script src="~/js/site.js"></script>
}
