@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-danger btn-link text-dark" style="margin-right:20px; margin-top:10px">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link btn btn-info text-dark" id="register" asp-area="Identity" asp-page="/Account/Register" style="margin-right:15px">Register</a>
    </li>
    <li class="nav-item">
            <a class="nav-link btn btn-info text-dark" id="login" asp-area="Identity" asp-page="/Account/Login" style="margin-right:15px">Login</a>
    </li>
}
</ul>
